@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-navy-600 font-poppins text-navy-300;
  }

  p {
    @apply max-w-prose;
  }

  .text--highlighted {
    @apply text-green-100;
  }

  .caption {
    @apply font-firacode text-sm text-green-100;
  }

  .section-heading {
    @apply mb-8  whitespace-nowrap font-firacode text-[clamp(26px,_4vw,_32px)] font-semibold text-navy-100;

    &--decorated {
      @apply flex  items-center;
      @apply before:mr-2 before:inline-block before:text-green-100 before:content-['/'];
      @apply after:ml-3  after:h-px after:w-[min(100%,_320px)] after:bg-navy-400;
    }
  }
}

/* My Fonts (Always keep at the bottom) */
/* Poppins */
@font-face {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Fira Code */
@font-face {
  font-family: 'Fira Code', monospace;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/fira-code-v21-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/fira-code-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Fira Code', monospace;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('../fonts/fira-code-v21-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/fira-code-v21-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
